# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Node
node_modules/

# Build
dist/

# Training Artifacts
trocr_output/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large Models
trocr_best/
